<!-- Modal de filtro prenda -->
<div class="modal fade" id="filterModalPrendas" tabindex="-1" aria-labelledby="filterModalPrendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalPrendaLabel">Filtrar Prendas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="filterForm">
                    <!-- Color -->
                    <div class="mb-3">
                        <label class="form-label">Color</label>
                        <div id="filterColorOptions" class="d-flex flex-wrap"></div>
                    </div>
                    <!-- Estacion -->
                    <div class="mb-3">
                        <label class="form-label">Estación</label>
                        <div id="filterEstacionPrendaOptions" class="d-flex flex-wrap"></div>
                    </div>
                    <!-- Estilos -->
                    <div class="mb-3">
                        <label class="form-label">Estilos</label>
                        <div id="filterEstilosOptions" class="d-flex flex-wrap"></div>
                    </div>
                    <button type="button" class="btn btn-primary" id="applyFiltersPrenda" data-bs-dismiss="modal">Aplicar Filtros</button>
                </form>
            </div>
        </div>
    </div>
</div>
