<!-- Modal de seguidores -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followersModalLabel">Lista de seguidores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="listaSeguidores" class="list-group">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../public/javascript/funcionesComunidad.js"></script>