<!DOCTYPE html>
    <html lang="es">
      
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar perfil</title>
        <link rel="icon" href="/uploads/icono.png" type="image/x-icon">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    
        <script src="https://cdn.tailwindcss.com"></script><!-- lo uso para que se vea la sidebar-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/stylesheet/modales_styles.css">
   
    </head>
    
    <body id="body">
        <%- include('navbar') %>
        <main id="main-content" class="flex-grow p-4 mt-4">
            <div class="container mt-3">
                <div class="card shadow p-4 bg-white rounded">
                    <div class="container mb-4">
                        <h1 class="text-center"> Editar Perfil</h1>
                    <form id="editarPerfilUsuarioForm" enctype="multipart/form-data">
    
                        <!-- datos personales -->
                        <p class="text-center text-muted mt-4 mb-4">Introduce tus datos personales</p>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="new_name" class="form-label"><i class="fas fa-user"></i> Nombre</label>
                                <div id="error-name" class="text-danger small"></div>
                                <input type="text" id="new_name" class="form-control" placeholder="Tu Nombre">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="new_surname" class="form-label"><i class="fas fa-user"></i> Apellidos</label>
                                <input type="text" id="new_surname" class="form-control" placeholder="Tus Apellidos">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="new_username" class="form-label"><i class="fas fa-user"></i> Nombre de Usuario</label>
                                <input type="text" id="new_username" class="form-control" placeholder="@TuUsuario">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="new_email" class="form-label"><i class="fas fa-envelope"></i> Correo electrónico</label>
                                <input type="email" id="new_email" class="form-control" placeholder="usuario@mail.com">
                            </div>
                        </div>
                   
                        <!-- preferencias de estilo -->
                        <div class="row">
                        <p class="text-center text-muted mt-4 mb-4">¿Cómo definirías tu estilo?</p>
                        
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span> Formal <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Formal: Elegante y profesional."></i>  </span> 
                                <span> Casual <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Casual: Relajado y cómodo."></i> </span>
                            </div>
                            <input type="range" class="form-range mt-2" min="0" max="10" id="new_formalidad">
                    
             
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Minimalista <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Minimalista: Simplicidad y pocos elementos."></i> </span>
                                <span>Maximalista <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Maximalista: Exuberancia y detalles llamativos."></i>    </span>
                                   
                            </div>                       
                            <input type="range" class="form-range mt-2" min="0" max="10" id="new_simplicidad">
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span> Clásico <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Clásico: Atemporal y elegante."></i> </span>
                                <span> Moderno <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Moderno: Actual y vanguardista."></i>  </span>
                            </div>
                            <input type="range" class="form-range mt-2" min="0" max="10" id="new_estilo_temporal">
                         </div>
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Bohemio  <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Bohemio: Relajado y artístico."></i> </span>
                                <span>Elegante <i class="fas fa-info-circle text-[#9A8C98] ms-1" data-bs-toggle="tooltip" title="Elegante: Refinado y sofisticado."></i>  </span>
                             
                            </div>
                            <input type="range" class="form-range  mt-2" min="0" max="10" id="new_sofisticacion">
                        </div>
                        </div>
                        <div class="row">
                        <!-- Informacion extra-->
                        <p class="text-center text-muted mt-4 mb-4">Últimos detalles</p>
                        <div class="col-md-6 mb-3">
                            <label for="new_edad" class="form-label"><i class="fas fa-user"></i> Rango de edad</label>
                            <select class="form-select" id="new_edad">
                                <option value="" selected disabled>Selecciona tu rango de edad...</option>
                                <option value="18-24">18 - 24 años</option>
                                <option value="25-34">25 - 34 años</option>
                                <option value="35-44">35 - 44 años</option>
                                <option value="45-54">45 - 54 años</option>
                                <option value="55+">55 años o más</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                             <!-- Imagen de Perfil -->
                             <div class="image-upload-container mb-4 d-flex align-items-center">
                                <input type="hidden" id="user_id" value="<%= u %>">
                                <img id="current-profile-picture" src="/user/photo/<%= u %>" alt="Imagen de perfil" 
                                    class="rounded-circle me-3" style="width: 120px; height: 120px; object-fit: cover;">
                                <div class="text-start">
                                    <label for="new_photo" class="form-label d-block"><i class="fas fa-camera"></i> Foto de perfil</label>
                                    <input type="file" id="new_photo" class="form-control" accept="image/*">
                                </div>
                            </div>
                            
                        </div>  
                        <!-- Mensaje de error -->
                        <div id="updateProfile-error" class="alert alert-danger text-center" style="display: none;">
                            Ocurrió un error. Por favor, revisa los campos e inténtalo de nuevo.
                        </div>
                      <button id="save-btn" type="submit"class="btn btn-primary w-100 mt-2">Guardar Cambios</button>

                    </form>
                       
                    <!--boton de eliminar cuenta -->
                    <div class="mt-3 pt-3">
                        <p class="text-center text-danger">¡Ten cuidado! Esta acción eliminará permanentemente tu cuenta.</p>
                        <button id="eliminarCuentaBtn" class="btn btn-danger w-100 mt-3">Desactivar cuenta</button>
                    </div>    
                </div> 
            </div>
        </div>        
        </main>
        <%- include ('footer')%>
        </body>
</html>
    <script>

        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('body');
            
            sidebar.classList.toggle('-translate-x-full');
            if (!sidebar.classList.contains('-translate-x-full')) {
                content.style.marginLeft = "16rem";
            } else {
                content.style.marginLeft = "0";
            }
        }
    </script>
<script src="../public/javascript/editarPerfil.js"></script>