

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white w-full fixed-top p-2 shadow">
        <div class="container-fluid">
            <button class="nav-link btn btn-outline-primary me-3" onclick="toggleSidebar()">☰</button>
            <a class="navbar-brand" href="/user/inicio">Armario Inteligente</a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">                  
                </ul>
            </div>
    
             <a class="btn btn-outline" href="/user/logout">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
            
    </nav>

    <!-- Sidebar -->
    <aside id="sidebar" class="w-64 bg-[#4A4E69] text-white p-5 fixed top-0 left-0 h-full 
        transform -translate-x-full transition-transform duration-300 z-20">

        <ul>
            <li class="mb-2">
                <a href="/prendas/listarPrendas" class="text-white">
                    <i class="bi bi-box"></i> Mi armario
                </a>
            </li>
            <li class="mb-2">
                <a href="/outfits/listarOutfits" class="text-white">
                    <i class="bi bi-person-bounding-box"></i> Mis outfits
                </a>
            </li>
            <li class="mb-2">
                <a href="/user/estadisticas" class="text-white">
                    <i class="bi bi-bar-chart"></i> Estadisticas
                </a>
            </li>
           <li class="mb-2">
            <a href="/user/editarPerfil" class="text-white">
                <i class="bi bi-gear"></i>  Editar perfil
            </a>           
            </li>
        </ul>

    </aside>

 
<script>

        //mostrar/ocultar sidebar
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const content = document.getElementById('main-content');
        
            sidebar.classList.toggle('-translate-x-full');

            if (!sidebar.classList.contains('-translate-x-full')) {
                content.style.marginLeft = "16rem";
            } else {
                content.style.marginLeft = "0";
            }
        }
        
    </script>